### BUILT-IN-FUNCTION

In [2]:
import math

In [9]:
print(int(math.sqrt(25)))
print(round(math.sqrt(5), 2))

5
2.24

In [10]:
# !pip install math #used to install modules

In [11]:
import math as m
print(m.ceil(19.8989))

20

In [12]:
import numpy as np

In [14]:
print(np.mean([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(np.median([34, 56, 67, 89]))

5.5
61.5

### USER-DEFINED-FUNCTION

In [16]:
def func1():
    print('welcome')

func1()

welcome

In [18]:
def func2(name):
    print('Hello', name)
func2('Rohan')

Hello Rohan

In [22]:
def func3():
    for i in range(4):
        print('Hello')
func3()

Hello
Hello
Hello
Hello

In [33]:
def ADD(a, b = 7):
    return (a+b)

print(ADD(4))

11

In [34]:
def addition(a, b):
    c = a+b
    return c

In [35]:
def test(a, b):
    d = addition(a, b)
    return d + 4

In [36]:
print(test(2, 4))

10

### Recursive function

In [43]:
def factorial(n):
    if (n == 1):
        return 1
    else:
        return n * factorial(n-1)

In [45]:
num = int(input("Enter number: "))
x = factorial(num)
print(x)

Enter number:  5

120

In [63]:
def fibo(n):
    if (n <= 0):
        return 0
    elif n== 1:    
        return 1
    else:
        return fibo(n-2) + fibo(n-1)

In [64]:
print(fibo(6))

8

In [65]:
def sum_nat(n):
    if n <= 1:
        return 1
    else:
        return n + sum_nat(n-1)

In [66]:
print(sum_nat(10))

55

### Lambda function

#### syntax :
#### lambda parameter: expression

In [67]:
x = lambda a: a+ 23
print(x(4))

27

In [3]:
sq = lambda x: x**2
print(sq(4))

16

In [4]:
# map() : it is built in function that applies a function to each item in an iterable

In [2]:
num = [1, 2, 3, 4, 5, 6, 7]
def double_func(x):
    return x*2

re = map(double_func, num)
print(f"Result: {list(re)}")

Result: [2, 4, 6, 8, 10, 12, 14]

In [4]:
sq = map(lambda x: x**2, num)
print(list(sq))

[1, 4, 9, 16, 25, 36, 49]

In [10]:
fru = ['apple', 'grapes']
up = map(lambda x:x.upper(), fru)
print(list(up))

['APPLE', 'GRAPES']

In [11]:
# problem add 18% GST to every items

In [13]:
items_prices= [100, 200, 80, 400]
final_price = map(lambda y: round(y * 1.18, 2), items_prices) # 18% = 100% + 18% = 118%
print('Prices after GST: ', list(final_price))

Prices after GST:  [118.0, 236.0, 94.4, 472.0]

In [16]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = filter(lambda y: y%2 != 0, num) 
print(list(even_num))

[1, 3, 5, 7, 9]

### CASE STUDY
#### Bank Customer Transaction Management System using function

In [66]:
customers = {}

In [67]:
def add_customer(account_num, name, balance):
    if account_num in customers:
        print('Account already esixt.')
    else:    
        customers[account_num] = {'Name': name, 'Balance': balance}
        print('Customer added successfully')

In [68]:
def display_details(account_num):
    if account_num in customers:
        print(f'Account number: {account_num}')
        print(f'Name: {customers[account_num]['Name']}')
        print(f'Balance: {customers[account_num]['Balance']}')
    else:
        print('Not Found.')

In [69]:
def update_account_detail(account_num, amount, transaction_type):
    if account_num in customers:
        if transaction_type == 'deposit':
            customers[account_num]['Balance'] += amount
        elif transaction_type == 'withdrawl' and customers[account_num]['Balance'] >= amount: 
            customers[account_num]['Balance'] -= amount
        else:    
            print('Insufficient balance')
            return 0
        print('Transaction successfully')
    else:    
        print('Account not found')

In [72]:
print('*****Enter into Banking System******')
flag = True
while (flag):
    print('\n')
    print('1.Add customer\n2.Display detaila\n3.Update\n4.exit')
    print('\n')
    user_choice = int(input("Enter your choice(1-4)"))
    if user_choice == 1:
        account_num = int(input('Enter account number: '))
        name = input('Enter account holder name: ')
        balance = int(input('Enter account balance: '))
        add_customer(account_num, name, balance)
    elif user_choice == 2:
        account_num = int(input('Enter account number: '))
        display_details(account_num)
    elif user_choice == 3:
        print('For updation enter the following details: ')
        account_num = int(input('Enter account number: '))
        amount = int(input('Enter amount(deposit/withdrawl): '))
        transaction_type = input('Enter transaction type: ')
        update_account_detail(account_num, amount, transaction_type)
    elif user_choice == 4:    
        flag = False
    else:
        print('Invalid choice')
print('program end.')

*****Enter into Banking System******


1.Add customer
2.Display detaila
3.Update
4.exit

Enter your choice(1-4) 2
Enter account number:  101

Account number: 101
Name: Rohan
Balance: 200000


1.Add customer
2.Display detaila
3.Update
4.exit

Enter your choice(1-4) 4

program end.